:root{
    --font-small:20px;
    --font-medium:35px;
    --font-large:50px;
    --dark-color: darkslategray;
    --light-color: silver;
    --sidemargin:30px;
    --sidewidth: 250px;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    
}

header{
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    text-align: center;
}

h1{
    font-size: var(--font-large);
}

nav{
    margin-top: 20px;
    white-space: nowrap;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
}

li{
    width: 150px;
    font-size: var(--font-small);
    font-weight: 500;
    padding: 0 5% 0 5%;
}

li:hover{
    cursor: pointer;
    background-color: var(--light-color);
    color: var(--dark-color);
}

main{
    
}

.aboutme {
    display: flex;
}
  
.left-column {
    margin: var(--sidemargin);
    flex: 0 0 auto; 
    padding-right: 171px;
    border-right: solid;
    max-width: 50px;
}
  
.right-column {
    flex: 1 1 auto; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px; 
}
  
.right-column img {
    max-width: 300px; 
}

.content{
    display: flex;
}

.work{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mostrecent img{
    width: 75%;
    max-width: 900px;
}


/* .projects{
    display: grid;
}

#proj1,
#proj2,
#proj3,
#proj4{
    grid-auto-flow: row;
} */